
/*CSS for colours, alignment and paragraph>*/

body {background: #f1f1f1;}
h1 {text-align: center;}
p {text-align: center;
  color: black;
  font-family: verdana;
  font-size: 120%;
  }
bdo {border: 2px solid powderblue;}
.p2 {padding: 30px}
.p3 {margin: 50px;}

/*CSS for Links>*/

        a:link {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }
        a:visited {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }
        a:hover {
          color: none;
          background-color: transparent;
          text-decoration: underline;
        }
        a:active {
          color: purple;
          background-color: transparent;
          text-decoration: underline;
        }

        /*<style>
          body {
            background-image: url('Images/Mountains.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
          }
          </style>*/




/* CSS for my logo image and the leopard image and the desktop computer*/

.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
}

.warning img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

.center {
    height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*CSS for table>*/

  .p4 table {
    font-family: arial, sans-serif;
    border:4px solid black;
    border-radius: 10px;
    border-style: dotted;
    border-spacing: 10px;
    width: 100%;
  }
  
  .p4 td, th {
    border: 4px solid #000000;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 25px;
  }

  .p4 tr:nth-child(even){
    background-color: #dddddd;
  }
  .p4 th:nth-child(odd) {
    background-color: blue;
  }
  .p4 td:nth-child(3) {
    background-color: red;
  }
  .p4 tr:nth-child(odd){
    background-color: green;
  }

  .p4 tr:hover {background-color: #ffea00;}


  /*CSS for Horizontal List to create a navigation menu*/
  
  .p5 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: #307485;
  }
  
  .p5 li {
    float: left;
  }
  
  .p5 li a {
    display: block;
    color: rgb(0, 145, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .p5 li a:hover {
    background-color: #111111;
  }
  
  .p5 li a:link {
            color: blue;
            background-color: transparent;
            text-decoration: none;
  }
  
  .p5 li a:visited {
            color: blue;
            background-color: transparent;
            text-decoration: none;
  }
  .p5 li a:hover {
            color: none;
            background-color: #3370bb;
            text-decoration: underline;
   }
  .p5 li a:active {
            color: purple;
            background-color: #111;
            text-decoration: underline;
  }

   /*CSS for the google search bar*/

   /*
   <styl>
     body {
     background-color: #3745c2;
     margin: 200px 40%;
   }
   */
   .p6 form {
     background-color: #4654e1;
     width: 300px;
     height: 44px;
     border-radius: 5px;
     display:flex;
     flex-direction:row;
     align-items:center;
   }
   
   .p6 input {
     all: unset;
     font: 16px system-ui;
     color: #fff;
     height: 100%;
     width: 100%;
     padding: 6px 10px;
   }
   
   .p6 ::placeholder {
     color: #fff;
     opacity: 0.7; 
   }
   
   .p6 svg {
     color: #fff;
     fill: currentColor;
     width: 24px;
     height: 24px;
     padding: 10px;
   }
   
   .p6 button {
     all: unset;
     cursor: pointer;
     width: 44px;
     height: 44px;
   }
   

/* CSS for for "Try it" button to toggle between hiding and showing the DIV element*/

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
  display:none;
  border-radius: 25px;
}

/* CSS for the bulb - My third Javascript*/


.center1{
    height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


/*HTML layout and techniques
CSS for the two columns with cities and footer*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
  }


  /*CSS for a Responsive full web page*/

    * {
      box-sizing: border-box;
    }
    
    .menu {
      float: left;
      width: 20%;
      text-align: center;
    }
    
    .menu a {
      background-color: #e5e5e5;
      padding: 8px;
      margin-top: 7px;
      display: block;
      width: 100%;
      color: black;
    }
    
    .main {
      float: left;
      width: 60%;
      padding: 0 20px;
    }
    
    .right {
      background-color: #e5e5e5;
      float: left;
      width: 20%;
      padding: 15px;
      margin-top: 7px;
      text-align: center;
    }
    
    @media only screen and (max-width: 620px) {
      /* For mobile phones: */
      .menu, .main, .right {
        width: 100%;
      }
    }




/*Drag the image back and forth between the two div elements.*/
  #div1, #div2 {
    float: left;
    width: 112px;
    height: 55px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
  }


/*Make images transparent*/

div.clearfix img {
  opacity: 0.5;
}

div.clearfix img:hover {
  opacity: 1.0;
}

/*Float images side by side*/

* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*Simple tooltip hover*/

p1 {
  display: none;
  background-color: yellow;
  padding: 10px;
}

div:hover p1 {
  display: block;
}


/*Full-height vertical navbar*/

ul1 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position:absolute;
  height: auto;
  overflow: auto;
}

li1 a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: 1px solid #bbb;
}

li1 a.active {
  background-color: #04AA6D;
  color: white;
}

li1 a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/*A sticky horizontal navbar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: relative;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


/* Dropdown menu */

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/* Image gallery */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 125px;
}

div.desc {
  padding: 15px;
  text-align: center;
}


/* Responsive form*/

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


/*RESPONSIVE WEBSITE LAYOUT*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

