
/*CSS for colours, alignment and paragraph>*/

body {background-color: grey;}
h1 {text-align: center;}
p {text-align: center;
  color: black;
  font-family: verdana;
  font-size: 120%;
  }
bdo {border: 2px solid powderblue;}
.p2 {padding: 30px}
.p3 {margin: 50px;}

/*CSS for Links>*/

        a:link {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }
        a:visited {
          color: blue;
          background-color: transparent;
          text-decoration: none;
        }
        a:hover {
          color: none;
          background-color: transparent;
          text-decoration: underline;
        }
        a:active {
          color: purple;
          background-color: transparent;
          text-decoration: underline;
        }

        /*<style>
          body {
            background-image: url('Images/Mountains.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;  
            background-size: cover;
          }
          </style>*/




/* CSS for my logo image and the leopard image and the desktop computer*/

.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
}

.warning img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

.center {
    height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*CSS for table>*/

  .p4 table {
    font-family: arial, sans-serif;
    border:4px solid black;
    border-radius: 10px;
    border-style: dotted;
    border-spacing: 10px;
    width: 100%;
  }
  
  .p4 td, th {
    border: 4px solid #000000;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 25px;
  }

  .p4 tr:nth-child(even){
    background-color: #dddddd;
  }
  .p4 th:nth-child(odd) {
    background-color: blue;
  }
  .p4 td:nth-child(3) {
    background-color: red;
  }
  .p4 tr:nth-child(odd){
    background-color: green;
  }

  .p4 tr:hover {background-color: #ffea00;}


  /*CSS for Horizontal List to create a navigation menu*/
  
  .p5 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    background-color: #307485;
  }
  
  .p5 li {
    float: left;
  }
  
  .p5 li a {
    display: block;
    color: rgb(0, 145, 255);
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .p5 li a:hover {
    background-color: #111111;
  }
  
  .p5 li a:link {
            color: blue;
            background-color: transparent;
            text-decoration: none;
  }
  
  .p5 li a:visited {
            color: blue;
            background-color: transparent;
            text-decoration: none;
  }
  .p5 li a:hover {
            color: none;
            background-color: transparent;
            text-decoration: underline;
   }
  .p5 li a:active {
            color: purple;
            background-color: transparent;
            text-decoration: underline;
   }

   /*CSS for the google search bar*/

   /*
   <styl>
     body {
     background-color: #3745c2;
     margin: 200px 40%;
   }
   */
   .p6 form {
     background-color: #4654e1;
     width: 300px;
     height: 44px;
     border-radius: 5px;
     display:flex;
     flex-direction:row;
     align-items:center;
   }
   
   .p6 input {
     all: unset;
     font: 16px system-ui;
     color: #fff;
     height: 100%;
     width: 100%;
     padding: 6px 10px;
   }
   
   .p6 ::placeholder {
     color: #fff;
     opacity: 0.7; 
   }
   
   .p6 svg {
     color: #fff;
     fill: currentColor;
     width: 24px;
     height: 24px;
     padding: 10px;
   }
   
   .p6 button {
     all: unset;
     cursor: pointer;
     width: 44px;
     height: 44px;
   }
   

/* CSS for for "Try it" button to toggle between hiding and showing the DIV element*/

#myDIV {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}

/* CSS for the bulb - My third Javascript*/


.center1{
    height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}


/*HTML layout and techniques
CSS for the two columns with cities and footer*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */

header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
  }


  /*CSS for a Responsive full web page*/

    * {
      box-sizing: border-box;
    }
    
    .menu {
      float: left;
      width: 20%;
      text-align: center;
    }
    
    .menu a {
      background-color: #e5e5e5;
      padding: 8px;
      margin-top: 7px;
      display: block;
      width: 100%;
      color: black;
    }
    
    .main {
      float: left;
      width: 60%;
      padding: 0 20px;
    }
    
    .right {
      background-color: #e5e5e5;
      float: left;
      width: 20%;
      padding: 15px;
      margin-top: 7px;
      text-align: center;
    }
    
    @media only screen and (max-width: 620px) {
      /* For mobile phones: */
      .menu, .main, .right {
        width: 100%;
      }
    }




/*Drag the image back and forth between the two div elements.*/
  #div1, #div2 {
    float: left;
    width: 112px;
    height: 55px;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
  }
