/* CSS for my logo image and the leopard image and the desktop computer*/

.warning {
    border: 10px ridge #f00;
    background-color: #ff0;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
    margin-left: auto;
    margin-right: auto;
}

.warning img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.warning p {
    font: small-caps bold 1.2rem sans-serif;
    text-align: center;
}

.center {
    height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CSS for the bulb - My third Javascript*/


.center1{
    height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}